body{
    background-color: #e2e2ea;
    width: 60%;
    margin:0 auto;
    /* position: relative; */
}


header{
    display: flex; 
    justify-content:space-between;
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
}

h1,h2{
    text-align: center;
}
#reset_user_name{
    border-color: rgba(255,255,255,0.2);
    color: #fff;
    white-space: nowrap;
    background: rgb(255, 255, 255) linear-gradient(rgb(208, 33, 21), rgb(226, 125, 121));
    padding: 6px;
}
#user_name_block{
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
}

main button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
} 
main button:hover { background: rgb(53, 167, 110); }
main button:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

main div{
    text-align: center;
}
#my_timer {
    font-size: 40px;
}
a {
    padding: 10px;
    text-decoration: none;
  }
a {
    border-radius: 10px;
    color: #36454A;
    background: -webkit-linear-gradient(top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: -o-linear-gradient(top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: linear-gradient(to top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    box-shadow: 2px 2px 3px black;
 }
a:hover {
    background: -webkit-linear-gradient(bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: -o-linear-gradient(bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: linear-gradient(to bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
 }

ul{
    display: table;
    margin: 0 auto;
}

#form_submit{
    display: block;
    margin: 5px auto;
    width: 80px;
    background-color: #36d636;
    
}
#form_reset{
    display: block;
    margin: 0 auto;
    width: 80px;
    background-color: #ce4545;
}

#wallpaper{
    position: fixed;
    background: linear-gradient(85deg, #fb63f9, #c2e534);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#screen{
    text-align: center;
    margin: 20px;
}
